@media (max-width: 1024px) {

    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }

    .header-icon {
        margin-left: -169px;
    }

    .searc-svg {
        padding-right: 424px;
    }

    .profile-svg {
        position: absolute;
        right: 18px;
    }

    .header-img {
        width: 386px;
        height: 368px;
        margin-right: -39px;
    }

    .the-brand {
        font-size: 44px;
    }

    .of-luxerious {
        font-size: 24px;
    }

    .fashion {
        font-size: 24px;
    }

    .preview-card_1,
    .preview-card_2,
    .preview-card_3 {
        width: 232px;
        height: 167px;
        background-size: cover;
    }

    .preview-card_4 {
        height: 116px;
        background-size: cover;
    }

    .content-preview {
        column-gap: 19px;
        row-gap: 19px;
        padding-bottom: 110px;
    }

    .item-cards {
        margin-top: 72px;
        grid-template-columns: 360px 360px;
        gap: 16px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 48px;
        padding-bottom: 64px;
    }


    .footer-content-1,
    .footer-content-2,
    .footer-content-3 {
        margin-left: 204px;
        margin-right: 204px;
    }

    .footer-content-2 {
        margin-top: 48px;
        margin-bottom: 48px;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .footer-left-info {
        padding-top: 64px;
    }

    .footer-left-info-p {
        padding-bottom: 0px;
    }

    .footer-right-info {
        padding-top: 48px;
        padding-bottom: 140px;
    }

}



@media (max-width:767px) {

    .center {
        padding-left: calc(50% - 179px);
        padding-right: calc(50% - 179px);
    }

    .icon-profile {
        display: none;
    }

    .icon-buy {
        display: none;
    }

    .nav-menu {

        padding: 0;
        align-items: center;
        height: 74px;

    }

    .header-icon {
        margin-left: 16px;
        margin-right: 41px;
    }

    .search-svg {
        padding-left: 0;
    }

    .header-preview {
        height: 363px;

    }

    .the-brand {
        font-size: 38px;
    }

    .of-luxerious {
        font-size: 20px;
    }

    .fashion {
        font-size: 20px;
    }

    .header-img {
        display: none;
    }

    .content-preview {
        display: flex;
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px;
        align-items: center;
        padding-bottom: 64px;
    }

    .preview-card_1,
    .preview-card_2,
    .preview-card_3 {
        width: 343px;
        height: 247px;
        background-size: cover;
    }

    .preview-card_4 {
        height: 111px;
        width: 343px;
        background-size: cover;
    }

    .item-cards {
        margin-top: 65px;
        grid-template-columns: 1fr;
        gap: 16px;
    }

.footer-content {
    padding-bottom: 0;
}

    .footer-content-1,
    .footer-content-2,
    .footer-content-3 {
        margin-left: auto;
        margin-right: auto;
        max-width: 360px;
    }

.footer-h {
    padding-top: 27px;
    
}

.footer-p {
    padding-top: 14px;
    padding-bottom: 22px;
    
}

.footer-content-3 {
    padding-bottom: 81px;
}

.footer-left-info-p, 
.footer-left-info-p-span  {
    font-size: 18px;
}

.footer-right-info-p2 {
    font-size: 14px;
}

.custom-field input {
    width: 200px;
}

.email-button-link {
    width: 80px;
}

.footer-contacts {
    flex-direction: column-reverse;
    padding-top: 43px;
    height: 143px;
}

.footer-contacts-left {
   padding-bottom: 9px;
   padding-top: 40px; 
}

}